<!DOCTYPE html>
<html>
   <head>
      <title>Sports At A Glance</title>
      <link href="/styles.css" rel="stylesheet" type="text/css"  />
   </head>
   <body> hey lol
         <%= games %>
   </body>
</html>
