
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li, tr {
    width: 60%;
    padding: 5px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 12px;
    cursor: default;
    letter-spacing: 1px;
    white-space: nowrap;
}

li, tr:hover {
    background: rgba(0,0,0,0.2);
} 



.form-group {
    width: 300px;
    margin: 10px auto;
    text-align: center;
}

/* .increase-popover-width {
   max-width: 800px;
}

.popover-content {
width: 500px;
} */

.popover {
    max-width: 800px; /* optional max width */
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}