
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li, tr {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 12px;
    cursor: default;
    letter-spacing: 1px;
}

li, tr:hover {
    background: rgba(0,0,0,0.2);
} 



.form-group {
    width: 300px;
    margin: 10px auto;
    text-align: center;
}
